*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

button{
  background: inherit;
}

input, select{
  border: solid 1px;
  color: inherit;
  font-size: 14px;
}